.title_sub{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;
    color: white;
    margin-bottom: 0.5%;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #6AFB92;
    color: white;
    font-size: 30px;
    margin: 2%;
}

input:focus{
    outline: none;
}

textarea{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #6AFB92;
    resize: none;
    font-size: 30px;

}

textarea:focus{
    outline: none;
}

.form-group {
    width: 400px;
    padding: 1.5%;
}
.form-control{
    width: 100%;
}

.btn{
    margin-top: 1%;
    background-color: transparent;
    color: white;
    width: 8%;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-top: 1.5px solid #6AFB92;
    border-bottom: 1px solid #6AFB92;
    padding: 0.8%;
}

.btn:hover{
    border: none;
    border-left: 1px solid #6AFB92;
    border-right: 1px solid #6AFB92;
}

.contact_info{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
