{% extends 'base.html' %}

{% block head %}
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/c_style.css') }}">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/login_style.css') }}">
    <title>Login</title>
{% endblock %}

{% block body %}
    <section class="title-wrapper">
        <h1 class="title"> - Login - </h1>
    </section>

    <section class="login-wrapper">
        <!--username-->
        <h3 class="login-query">Username:</h3>
        <input type="text" value="" name="MyUsername">
        <div class="deco_line"></div>

        <!--password-->
        <h3 class="login-query">Password:</h3>
        <input type="password" value="" name="MyPassword">
    </section>
{% endblock %}