{% extends 'base.html' %}

{% block head %}
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/c_style.css') }}">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/about_me.css') }}">
    <title>About me</title>
{% endblock %}
    
{% block body %}
    <div class="title_description">
        <h2 class="title"> - About Me - </h2>
        <p class="brief_desc" id="under_title">
            I am a Robotics and Telecommunications Engineer, with vast experience in Artificial Intelligence, ROS and Robotics.
            I speak fluently French, Arabic, Spanish, English and some Italian too. 
        </p>
    </div>



    
    <div class="carousel">
        <div class="slide">
            <div class="text">Text for Image 1</div>
            <img class="slides" src="./static/img/my_picture.jpg" alt="Image 1">
        </div>
        <div class="slide">
            <div class="text">Text for Image 2</div>
            <img class="slides" src="./static/img/port.png" alt="Image 2">
        </div>
        <div class="slide">
            <div class="text">Text for Image 3</div>
            <img class="slides" src="./static/img/tictactoe_ss.png" alt="Image 3">
        </div>
    </div>

    <div class="dots" style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <script src="{{url_for('static', filename='scripts/carousel_projects.js')}}"></script>
{% endblock %}
