{% extends 'base.html' %}

{% block head %}
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/contact.css') }}">
    <title>Contact</title>
{% endblock %}

{% block body %}
    <div class="title_sub">
        <h2 class="title"> - Contact me - </h2>
    </div>

    <form action="https://formsubmit.co/charbel.breydy2@gmail.com" method="POST">
        <div class="contact_info">
        <input type="email" name="email" required autocomplete="off" placeholder="Email">
        <input type="text" name="name" required autocomplete="off" placeholder="Message">
        <input type="hidden" name="_subject" value="New site mail">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="https://charbel-portfolio-mlh.duckdns.org/about">
        <button type="submit" class="btn">Send</button>
        </div>
    </form>
    
{% endblock %}
